<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HOME</title>
</head>
<body>
<h1>MEMBER</h1>
<a href="" th:href="@{/member/login}" th:text="Login">123</a>
<a href="" th:href="@{/member/signup}" th:text="SignUp">123</a>
<a href="" th:href="@{/member/info}" th:text="Info">123</a>
<h1>BOARD</h1>
<a href="" th:href="@{/board/list}" th:text="List">123</a>
<a href="" th:href="@{/board/write}" th:text="Write">123</a>
<a href="" th:href="@{/board/view}" th:text="View">123</a>
</body>
</html>